@font-face {
    font-family: RobotoCondensedLight;
    src: url("../static/RobotoCondensed-Light.ttf");
  }

body
{
    font-family: "RobotoCondensedLight", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      padding-top: 30px;
      background-color: #eee;
      background-image:url(../img/bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100vh;
}

.titlebar {
  background-color: #1D77E5;
  height: 20px;
  -webkit-app-region: drag;    /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none;   /* Prevent user from selecting things */
  user-select: none;
}

.title {
    font-weight: bold;
    display: block;
    font-size: 10pt;
    font-family: "RobotoCondensedLight", serif;
    cursor: pointer;
}

.time,
.code {
    color: #333;
    display: block;
    font-weight:100;
    font-size: 20pt;
    font-family: "RobotoCondensedLight", serif;
    position: relative;
    cursor: pointer;
}
.code span{
  font-weight:bold;
}

.time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid hsl(202, 100%, 89%); */
  /* border-radius: 50%; */
  width: 30px;
  height: 30px;
  font-size: 33px;
}

.time div {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  display: block;
  position: relative;
  opacity: 0.6;
  top:-7px;
  right: 5px;
}

.twofa-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 0px;
}

.row-header,
.row-2fa {
  background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 5px;
}

.row-2fa {
  width: 100%;
  margin: 3px 0px;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.5);

}

.wrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: blur(35px);
}

.row-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 55px;
  width: 200px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.row-header {
  position: fixed;
  height: 33px;
  top: -1px;
  background: rgba(255, 255, 255, 1);

  z-index: 9999;
  width: 100%;
  -webkit-app-region: drag;    /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none;   /* Prevent user from selecting things */
  user-select: none;
}

.edit-btn,
.addnew {
  text-decoration: none;
  color: #333;
  font-size: 10pt;
  font-weight: bold;
  font-size: 18pt;
  width: 30px;
  margin: 5px;
}

.row-2fa .delete {
  position: relative;
  display: block;
  z-index: 55;
  color: #333;
  text-decoration: none;
  font-size: 13pt;
  margin-right: 5px;
}

.row-2fa .edit {
  position: relative;
  display: block;
  z-index: 55;
  color: #333;
  text-decoration: none;
  font-size: 13pt;
  margin-right: 5px;
  z-index: 999;
}

#addNewModal,
#deleteModal {
  margin-top: 50px !important;
}

.row-2fa:hover{
  background-color: #eee;
  transition: ease-in-out .3s;
  box-shadow: #9c9c9c 0px 0px 5px;
  background: rgba(255, 255, 255, 0.8);
}



.row-2fa:active{
  width: 105%;
  height: 105%;
  transition: ease-in-out .2s;
}
  
.time-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

  .chart {
    color: #242424;
    display: block;
    font-weight: bold;
    font-size: 20pt;
    font-family: "RobotoCondensedLight", serif;
  }
  
  .cbutton{
    text-decoration: none;
    margin-left: 5px;
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 10pt;
    padding: 3px;
    align-items: center;
    width: auto;
    height: 20px;
    flex-direction: row;
    float: right;
    border-radius: 3px;
    position: relative;
    right: 120px;
  }

  .cbutton.active ,
  .cbutton:hover{
    color: #333;
    background-color: #ccc;
  }

  

  .hide-on{
    display: none !important;
  }

  #toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 5px; /* Padding */
    font-size: 10pt;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 40%; /* Center the snackbar */
    bottom: 10px; /* 30px from the bottom */
    border-radius: 10px;
    opacity: 0.4;
    z-index: 999999999;
    width: 95%;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #toast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10px; opacity: 0.4;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10px; opacity: 0.4;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 10px; opacity: 0.4;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 10px; opacity: 0.4;}
    to {bottom: 0; opacity: 0;}
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.logo{
  width: 100px;
  height: 100%;
  font-weight: 900;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.modal-body,
.modal-footer,
.modal-header{
  padding: 5px 15px;
}


#countdown {
  position: relative;
  height: 15px;
  width: 15px;
}

#countdown-number {

}
/* 
svg {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #1D77E5;
  fill: none;
  animation: countdown linear infinite forwards;
  animation-delay: 0;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
} */